.Name{
    font-weight: 300;
    color: blue;
}
.School{
    color: blueviolet;
}
.Total{
    color: crimson;
}

.formatstyle{
    text-align: center;
    font-size: large;

}

.Score{
    color: forestgreen;
}